# An LSTM based approach
RecSys Challenge 2022 - Group 5

## General Data Preparation

Let us read in the different datasets.

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
base_path_train = "~/shared/data/project/training"

items_df = pd.read_csv(os.path.join(base_path_train, "item_features.csv"))
purchase_df = pd.read_csv(os.path.join(base_path_train, "train_purchases.csv"))
session_df = pd.read_csv(os.path.join(base_path_train, "train_sessions.csv"))

In [3]:
items_df

        item_id  feature_category_id  feature_value_id
0             2                   56               365
1             2                   62               801
2             2                   68               351
3             2                   33               802
4             2                   72                75
...         ...                  ...               ...
471746    28143                   68               351
471747    28143                   55               390
471748    28143                   11               109
471749    28143                   73                91
471750    28143                   47               549

[471751 rows x 3 columns]

In [4]:
items_df.item_id.nunique()

23691

In [5]:
purchase_df

        session_id  item_id                     date
0                3    15085  2020-12-18 21:26:47.986
1               13    18626  2020-03-13 19:36:15.507
2               18    24911  2020-08-26 19:20:32.049
3               19    12534   2020-11-02 17:16:45.92
4               24    13226  2020-02-26 18:27:44.114
...            ...      ...                      ...
999995     4439986     2915  2021-05-13 11:56:37.464
999996     4439990     8786  2020-08-22 14:28:22.382
999997     4439994    21630  2020-11-27 20:10:28.961
999998     4439999    16962  2020-11-27 11:01:41.356
999999     4440001    16631  2020-10-30 23:46:05.218

[1000000 rows x 3 columns]

In [6]:
session_df

         session_id  item_id                     date
0                 3     9655  2020-12-18 21:25:00.373
1                 3     9655  2020-12-18 21:19:48.093
2                13    15654  2020-03-13 19:35:27.136
3                18    18316  2020-08-26 19:18:30.833
4                18     2507  2020-08-26 19:16:31.211
...             ...      ...                      ...
4743815     4440001    20409  2020-10-30 23:37:20.658
4743816     4440001    14155  2020-10-30 23:31:56.607
4743817     4440001    14303  2020-10-30 23:36:17.934
4743818     4440001    27852  2020-10-30 23:39:55.186
4743819     4440001      305  2020-10-30 23:27:37.873

[4743820 rows x 3 columns]

Now we combine the views inside a session and the purchases of this session in one dataframe, with the column `was_bought` indicating whether the item was only viewed or bought.

In [7]:
purchase_df_processed = purchase_df.copy()
purchase_df_processed["was_bought"] = True

session_df_processed = session_df.copy()
session_df_processed["was_bought"] = False
df_processed = pd.concat([purchase_df_processed, session_df_processed]).sort_values(["session_id", "date"])
df_processed

         session_id  item_id                     date  was_bought
1                 3     9655  2020-12-18 21:19:48.093       False
0                 3     9655  2020-12-18 21:25:00.373       False
0                 3    15085  2020-12-18 21:26:47.986        True
2                13    15654  2020-03-13 19:35:27.136       False
1                13    18626  2020-03-13 19:36:15.507        True
...             ...      ...                      ...         ...
4743804     4440001    19539   2020-10-30 23:37:09.46       False
4743815     4440001    20409  2020-10-30 23:37:20.658       False
4743818     4440001    27852  2020-10-30 23:39:55.186       False
4743806     4440001    20449  2020-10-30 23:40:28.149       False
999999      4440001    16631  2020-10-30 23:46:05.218        True

[5743820 rows x 4 columns]

Now we denormalize the item features table, to have a more handy representation of the item features

In [8]:
items_processed_df = items_df.pivot_table(values='feature_value_id', index='item_id', columns='feature_category_id').reset_index()
items_processed_df.index.names = ['index']
items_processed_df.columns = ["item_id"] + [f"item_feature_{x}" for x in list(range(73))]
items_processed_df

,item_id,item_feature_0,item_feature_1,item_feature_2,item_feature_3,item_feature_4,item_feature_5,item_feature_6,item_feature_7,item_feature_8,...,item_feature_63,item_feature_64,item_feature_65,item_feature_66,item_feature_67,item_feature_68,item_feature_69,item_feature_70,item_feature_71,item_feature_72
index,,,,,,,,,,,,,,,,,,,,,
0,2,NaN,NaN,NaN,NaN,NaN,NaN,394.0,NaN,NaN,...,NaN,NaN,NaN,NaN,351.0,885.0,NaN,NaN,75.0,NaN
1,3,NaN,NaN,889.0,618.0,605.0,NaN,452.0,NaN,NaN,...,NaN,521.0,NaN,NaN,14.0,592.0,NaN,NaN,75.0,544.0
2,4,NaN,NaN,793.0,618.0,605.0,NaN,837.0,NaN,NaN,...,NaN,521.0,NaN,NaN,373.0,538.0,NaN,NaN,75.0,544.0
3,7,NaN,NaN,NaN,NaN,NaN,NaN,536.0,NaN,NaN,...,NaN,NaN,NaN,NaN,739.0,592.0,NaN,NaN,75.0,NaN
4,8,NaN,NaN,793.0,618.0,605.0,NaN,798.0,NaN,NaN,...,NaN,521.0,NaN,NaN,351.0,592.0,NaN,NaN,75.0,544.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23686,28139,NaN,NaN,793.0,618.0,605.0,NaN,798.0,NaN,NaN,...,NaN,521.0,NaN,NaN,106.0,805.0,NaN,NaN,75.0,544.0
23687,28140,NaN,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.0,NaN,NaN,349.0,351.0,NaN,NaN,226.0,NaN,544.0
23688,28141,461.0,NaN,889.0,719.0,605.0,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,379.0,499.0,NaN,NaN,75.0,544.0
23689,28142,NaN,NaN,NaN,NaN,NaN,NaN,619.0,NaN,NaN,...,NaN,610.0,NaN,NaN,895.0,740.0,NaN,NaN,75.0,91.0
23690,28143,NaN,NaN,NaN,NaN,NaN,NaN,798.0,NaN,NaN,...,NaN,NaN,NaN,NaN,351.0,499.0,NaN,NaN,371.0,91.0

The item features can now be merged to the combined dataset with session views and purchases from above.
Also NULL values are filled by 0.

In [9]:
df_processed = df_processed.merge(items_processed_df, how="left", on="item_id")
df_processed["was_bought"] = df_processed["was_bought"].astype(float)
df_processed

,session_id,item_id,date,was_bought,item_feature_0,item_feature_1,item_feature_2,item_feature_3,item_feature_4,item_feature_5,...,item_feature_63,item_feature_64,item_feature_65,item_feature_66,item_feature_67,item_feature_68,item_feature_69,item_feature_70,item_feature_71,item_feature_72
0,3,9655,2020-12-18 21:19:48.093,0.0,NaN,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,349.0,393.0,NaN,NaN,NaN,NaN,544.0
1,3,9655,2020-12-18 21:25:00.373,0.0,NaN,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,349.0,393.0,NaN,NaN,NaN,NaN,544.0
2,3,15085,2020-12-18 21:26:47.986,1.0,NaN,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,349.0,97.0,NaN,NaN,NaN,NaN,544.0
3,13,15654,2020-03-13 19:35:27.136,0.0,NaN,NaN,NaN,618.0,NaN,766.0,...,NaN,521.0,NaN,NaN,351.0,780.0,NaN,NaN,219.0,NaN
4,13,18626,2020-03-13 19:36:15.507,1.0,NaN,NaN,793.0,618.0,605.0,NaN,...,NaN,NaN,NaN,NaN,739.0,805.0,NaN,NaN,75.0,544.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5743815,4440001,19539,2020-10-30 23:37:09.46,0.0,NaN,NaN,NaN,618.0,NaN,NaN,...,NaN,NaN,NaN,NaN,351.0,885.0,NaN,NaN,75.0,544.0
5743816,4440001,20409,2020-10-30 23:37:20.658,0.0,NaN,NaN,NaN,618.0,NaN,NaN,...,NaN,NaN,NaN,NaN,351.0,885.0,NaN,NaN,75.0,544.0
5743817,4440001,27852,2020-10-30 23:39:55.186,0.0,NaN,NaN,NaN,618.0,NaN,778.0,...,NaN,550.0,NaN,NaN,351.0,362.0,NaN,NaN,75.0,544.0
5743818,4440001,20449,2020-10-30 23:40:28.149,0.0,NaN,NaN,NaN,618.0,NaN,778.0,...,NaN,550.0,NaN,NaN,351.0,362.0,NaN,NaN,75.0,544.0
5743819,4440001,16631,2020-10-30 23:46:05.218,1.0,NaN,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,776.0,349.0,596.0,NaN,NaN,NaN,NaN,544.0

In [10]:
items_processed_df = items_processed_df.fillna(0)
items_processed_df

,item_id,item_feature_0,item_feature_1,item_feature_2,item_feature_3,item_feature_4,item_feature_5,item_feature_6,item_feature_7,item_feature_8,...,item_feature_63,item_feature_64,item_feature_65,item_feature_66,item_feature_67,item_feature_68,item_feature_69,item_feature_70,item_feature_71,item_feature_72
index,,,,,,,,,,,,,,,,,,,,,
0,2,0.0,0.0,0.0,0.0,0.0,0.0,394.0,0.0,0.0,...,0.0,0.0,0.0,0.0,351.0,885.0,0.0,0.0,75.0,0.0
1,3,0.0,0.0,889.0,618.0,605.0,0.0,452.0,0.0,0.0,...,0.0,521.0,0.0,0.0,14.0,592.0,0.0,0.0,75.0,544.0
2,4,0.0,0.0,793.0,618.0,605.0,0.0,837.0,0.0,0.0,...,0.0,521.0,0.0,0.0,373.0,538.0,0.0,0.0,75.0,544.0
3,7,0.0,0.0,0.0,0.0,0.0,0.0,536.0,0.0,0.0,...,0.0,0.0,0.0,0.0,739.0,592.0,0.0,0.0,75.0,0.0
4,8,0.0,0.0,793.0,618.0,605.0,0.0,798.0,0.0,0.0,...,0.0,521.0,0.0,0.0,351.0,592.0,0.0,0.0,75.0,544.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23686,28139,0.0,0.0,793.0,618.0,605.0,0.0,798.0,0.0,0.0,...,0.0,521.0,0.0,0.0,106.0,805.0,0.0,0.0,75.0,544.0
23687,28140,0.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,80.0,0.0,0.0,349.0,351.0,0.0,0.0,226.0,0.0,544.0
23688,28141,461.0,0.0,889.0,719.0,605.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,379.0,499.0,0.0,0.0,75.0,544.0
23689,28142,0.0,0.0,0.0,0.0,0.0,0.0,619.0,0.0,0.0,...,0.0,610.0,0.0,0.0,895.0,740.0,0.0,0.0,75.0,91.0
23690,28143,0.0,0.0,0.0,0.0,0.0,0.0,798.0,0.0,0.0,...,0.0,0.0,0.0,0.0,351.0,499.0,0.0,0.0,371.0,91.0

In [11]:
item_id2index = dict(zip(items_processed_df.item_id, items_processed_df.index))

In [12]:
all_items = list(items_processed_df["item_id"])

In [13]:
items_processed_array = np.array(items_processed_df.drop("item_id",axis=1))
items_processed_array[item_id2index[2]]

array([  0.,   0.,   0.,   0.,   0.,   0., 394.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,  38.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0., 123.,   0.,   0.,   0., 802.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0., 123.,   0.,   0.,  76.,   0.,   0.,   6.,   0.,   0.,
       365.,   0.,   0.,   0.,   0., 462., 801.,   0.,   0.,   0.,   0.,
         0., 351., 885.,   0.,   0.,  75.,   0.])

Next we read in the candidate items.

In [14]:
candidate_items = list(pd.read_csv("candidate_items.csv")["item_id"])
candidate_items[:10]

[4, 8, 9, 19, 20, 26, 33, 40, 51, 54]

## LSTM specific Data Preparation

### Item sequence preparation

Similarly to predicting the next word of a sentence, we can predict the "next item" in a session. For this, we see the viewed (but not purchased) items as a given sequence of input words, and the purchased items as output words. Now we want to transform the data into a form reflecting this idea.

First, let us prepare the training data for the LSTM. For this, we select a subset of the training dataset, so that RAM is not exceeded.

In [15]:
session_ids_cand = df_processed[(df_processed.was_bought==1) & (df_processed.item_id.isin(candidate_items))].session_id

In [16]:
#df_w2v = df_processed[df_processed.session_id < 10000].sort_values(["session_id", "date"])[["session_id", "item_id", "was_bought"]]
df_w2v = df_processed[(df_processed.session_id.isin(session_ids_cand)) & (df_processed.session_id < 50000)].sort_values(["session_id", "date"])[["session_id", "item_id", "was_bought"]]
df_w2v

       session_id  item_id  was_bought
3              13    15654         0.0
4              13    18626         1.0
42             31    25972         0.0
43             31    16289         0.0
44             31     2069         0.0
...           ...      ...         ...
64212       49975     2072         0.0
64213       49975     2072         0.0
64214       49975    23565         1.0
64224       49993    19048         0.0
64225       49993    26853         1.0

[28747 rows x 3 columns]

In the next step, we just map the item IDs to a subsequent list of numbers (without wholes)

In [17]:
item_list = list(df_w2v.item_id.sort_values().unique())
item_dict = {v: k for k, v in dict(zip(range(len(item_list)), item_list)).items()}
item_dict[4]

1

In [18]:
item_dict_rev = {v: k for k, v in item_dict.items()}

In the next step, we extract the viewed items (corresponding to the previous words) and purchased items (corresponding to the next words).

In [19]:
def get_values(x):
    x = x["item_id"]
    return [item_dict[x] for x in list(x.values.ravel())]

all_words = df_w2v.groupby('session_id').apply(get_values).to_list()

def get_values(x):
    x = x["item_id"]
    return [item_dict[x] for x in list(x.values.ravel())]

prev_words = df_w2v[(df_w2v.was_bought==0)].groupby('session_id').apply(get_values).to_list()

def get_values(x):
    x = x["item_id"]
    return item_dict[x.values.ravel()[0]]

next_words = df_w2v[(df_w2v.was_bought==1)].groupby('session_id').apply(get_values).to_list()

In [20]:
prev_words[:5]

[[3943],
 [6554, 4100, 519, 519, 6688, 63, 6983, 1105],
 [5219, 5698, 2622, 4410],
 [1614, 5014, 540, 3968, 5381, 4338],
 [5002, 2634, 4018, 5002, 2634, 4187, 5002, 4187]]

In [21]:
next_words[:5]

[4714, 2148, 2993, 5360, 6556]

In [22]:
unique_words = [item_dict[x] for x in df_w2v["item_id"].unique()]
unique_word_index = dict((c, i) for i, c in enumerate(unique_words))
len(unique_words)

7130

Sessions do usually have different lengths. Thus we take the longest session as standard session length and pad the shorter sessions with zeros in the beginning, as follows:

In [23]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [24]:
max_seq_length = max([len(x) for x in prev_words])
input_seqs = np.array(pad_sequences(prev_words, maxlen=max_seq_length, padding='pre'))

print(max_seq_length)
print(input_seqs[:5])

90
[[   0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0 3943]
 [   0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0 6554 4100
   519  519 6688   63 6983 1105]
 [   0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0 5219 5698 2622 4410]
 [   0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
  1614 5014  540 3968 5381 4338]
 [   0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0    0    0    0    0    0    0    0    0    0    0    0 5002 2634
  4018 5002 2634 4187 5002 4187]]

### Embedding Matrix Preparation with Word2Vec

To reprensent each item by some feature vector, we use Word2Vec embedding. From this we build an embedding matrix.

In [25]:
!pip install gensim

Collecting gensim
  Using cached gensim-4.2.0-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (24.0 MB)
Requirement already satisfied: numpy>=1.17.0 in /opt/conda/lib/python3.9/site-packages (from gensim) (1.21.6)
Collecting smart-open>=1.8.1
  Using cached smart_open-6.0.0-py3-none-any.whl (58 kB)
Requirement already satisfied: scipy>=0.18.1 in /opt/conda/lib/python3.9/site-packages (from gensim) (1.8.0)
Installing collected packages: smart-open, gensim
Successfully installed gensim-4.2.0 smart-open-6.0.0

In [26]:
from gensim.models.word2vec import Word2Vec

In [27]:
w2v = Word2Vec(all_words, min_count=1)

In [28]:
#list the vocabulary words
words = list(w2v.wv.index_to_key)

print(words[:5])

[6799, 2078, 5052, 2054, 5274]

In [29]:
my_dict = dict({})
for idx, key in enumerate(w2v.wv.index_to_key):
    my_dict[key] = w2v.wv[key]
    # Or my_dict[key] = model.wv.get_vector(key)
    # Or my_dict[key] = model.wv.word_vec(key, use_norm=False)

In [30]:
embeddings_matrix = np.zeros((len(words), 100))

for i, word in enumerate(words):
    embedding_vector = my_dict[word]
    if embedding_vector is not None:
        embeddings_matrix[i] = embedding_vector

In [31]:
embeddings_matrix

array([[-0.01143642,  0.01325067,  0.01468114, ..., -0.02615087,
         0.00686575,  0.00736724],
       [-0.01493189,  0.01124328,  0.00837721, ..., -0.01107325,
        -0.00975091,  0.01176901],
       [-0.00486842,  0.01249888, -0.00595599, ..., -0.00533314,
         0.01067116, -0.00242045],
       ...,
       [ 0.00572976,  0.00364418, -0.00636318, ..., -0.00662455,
         0.00904922, -0.0056277 ],
       [-0.00591927,  0.00547371, -0.00418467, ..., -0.00773914,
         0.00029976,  0.00701222],
       [-0.00621136,  0.00637939,  0.00509862, ...,  0.0067164 ,
         0.00098119,  0.0098685 ]])

In [32]:
embeddings_matrix.shape

(7130, 100)

## Defining and training the LSTM

Let us define our LSTM model.

In [33]:
import tensorflow as tf
from tensorflow.keras.optimizers import Adam, SGD

In [34]:
model = tf.keras.Sequential(
    [tf.keras.layers.Embedding(input_dim = len(words), output_dim=100, weights=[embeddings_matrix], input_length=max_seq_length, trainable=False),
     tf.keras.layers.LSTM(256),
     tf.keras.layers.Dropout(0.2),
     tf.keras.layers.Dense(128, activation='relu'),
     tf.keras.layers.Dense(len(words) , activation='softmax')
    ])

opt = SGD(lr=10**(-6))
model.compile(optimizer=opt, loss='categorical_crossentropy', metrics=['accuracy'])

/opt/conda/lib/python3.9/site-packages/keras/optimizer_v2/gradient_descent.py:102: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(SGD, self).__init__(name, **kwargs)

Also, we convert our output (i.e. the purchased items) to a categorical object.

In [35]:
next_words = np.array(next_words)
outputs = tf.keras.utils.to_categorical(next_words, num_classes=len(words))
outputs.shape

(5042, 7130)

Now, we train our model.

In [36]:
tf.config.run_functions_eagerly(True)

In [37]:
history = model.fit(input_seqs, outputs, epochs=10, validation_split=0.2, verbose=1, batch_size=256)

Epoch 1/10

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

16/16 [==============================] - 13s 780ms/step - loss: 8.8720 - accuracy: 4.9591e-04 - val_loss: 8.8720 - val_accuracy: 9.9108e-04
Epoch 2/10
16/16 [==============================] - 13s 794ms/step - loss: 8.8720 - accuracy: 2.4795e-04 - val_loss: 8.8720 - val_accuracy: 9.9108e-04
Epoch 3/10
16/16 [==============================] - 12s 785ms/step - loss: 8.8720 - accuracy: 0.0000e+00 - val_loss: 8.8720 - val_accuracy: 9.9108e-04
Epoch 4/10
16/16 [==============================] - 13s 799ms/step - loss: 8.8720 - accuracy: 0.0000e+00 - val_loss: 8.8720 - val_accuracy: 9.9108e-04
Epoch 5/10
16/16 [==============================] - 12s 780ms/step - loss: 8.8720 - accuracy: 2.4795e-04 - val_loss: 8.8720 - val_accuracy: 9.9108e-04
Epoch 6/10
16/16 [==============================] - 13s 791ms/step - loss: 8.8720 - accuracy: 0.0000e+00 - val_loss: 8.8720 - val_accuracy: 9.9108e-04
Epoch 7/10
16/16 [==============================] - 13s 795ms/step - loss: 8.8720 - accuracy: 2.4795e-04 - val_loss: 8.8720 - val_accuracy: 9.9108e-04
Epoch 8/10
16/16 [==============================] - 13s 790ms/step - loss: 8.8720 - accuracy: 2.4795e-04 - val_loss: 8.8720 - val_accuracy: 9.9108e-04
Epoch 9/10
16/16 [==============================] - 12s 784ms/step - loss: 8.8720 - accuracy: 2.4795e-04 - val_loss: 8.8720 - val_accuracy: 9.9108e-04
Epoch 10/10
16/16 [==============================] - 12s 766ms/step - loss: 8.8720 - accuracy: 2.4795e-04 - val_loss: 8.8720 - val_accuracy: 9.9108e-04

## Prediction on test data

Let us read in the test data set.

In [38]:
import pandas as pd
import os
import numpy as np

base_path_test = "~/shared/data/project/test"


test_df = pd.read_csv(os.path.join(base_path_test, "test_sessions.csv"))

test_df

        session_id  item_id                     date
0              126     9655  2020-12-18 21:25:00.373
1              126     9655  2020-12-18 21:19:48.093
2             3234    13214  2020-09-20 20:10:42.039
3             3234    13214  2020-09-20 20:11:53.966
4             3234     3173  2020-09-20 20:06:13.217
...            ...      ...                      ...
197619   186456690    10471  2021-05-02 17:41:18.737
197620   186456690    13385   2021-05-02 17:43:41.78
197621   186456690    10471  2021-05-02 17:40:10.625
197622   186456690     5382  2021-05-02 17:40:50.001
197623   186479748    25357  2020-11-27 20:08:37.262

[197624 rows x 3 columns]

In order to not exceed the RAM, we split the test dataframe into sub-dataframes, which will be predicted batch by batch.

In [39]:
session_id_limits = list(range(0, test_df.session_id.max() + 10000000, 10000000))

In [40]:
test_dfs = []
for i in range(len(session_id_limits)-1):
    session_id_limit1 = session_id_limits[i]
    session_id_limit2 = session_id_limits[i+1]
    test_df_small = test_df[(test_df.session_id >= session_id_limit1) & (test_df.session_id < session_id_limit2)]
    test_dfs.append(test_df_small)

In [41]:
len(test_dfs)

19

In [42]:
def get_values(x):
    x = x["item_id"]
    return [item_dict[x] for x in list(x.values.ravel()) if x in item_dict.keys()]

In [43]:
candidate_items_keys = [item_dict[x] for x in candidate_items if x in item_dict.keys()]
candidate_items_keys[:4]

[1, 2, 4, 5]

Now we predict using our LSTM model. For this we need to prepare the data in the same fashion as above.
From the result, we extract the 100 items with the largest scores.

In [44]:
candidate_rank_dfs = []
j = 0
for test_df_small in test_dfs:
    print(j)
    j+=1
    
    # data preparation
    prev_words_test = test_df_small.groupby('session_id').apply(get_values).to_list()
    input_seqs_test = np.array(pad_sequences(prev_words_test, maxlen=max_seq_length, padding='pre'))
    
    # lstm prediction
    preds = model.predict(input_seqs_test)

    # sorting the predictions by highest score
    arr = preds.argsort().astype("float32")
    # retrieving only the candidate items
    cond = np.isin(arr.astype(int), candidate_items_keys)
    arr[~cond] = np.nan
    arrlist = arr.tolist()
    
    # creating the ranks
    for i in range(len(test_df_small.session_id.unique())):
        rank_dict = {}
        session_id  = test_df_small.session_id.unique()[i]

        # get the scores from the lecture
        scores = arrlist[i]
        y = [x for x in scores if x>=0 and x in item_dict.keys()] # x>=0 removes the nan values
        ranked_list = [item_dict_rev[x] for x in y[-100:]] # get the top 100 items

        for num, item in enumerate(ranked_list):
            rank_dict[item] = len(ranked_list) - num # this is just mapping the item to its rank
        
        candidate_rank_df = pd.DataFrame(rank_dict.items(), columns = ["item_id", "rank"]).sort_values("rank")
        candidate_rank_df["session_id"] = session_id
        candidate_rank_dfs.append(candidate_rank_df)
    
candidate_rank_df = pd.concat(candidate_rank_dfs)
candidate_rank_df = candidate_rank_df[["session_id", "item_id", "rank"]].reset_index(drop=True)
candidate_rank_df

0

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

1

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

2

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

3

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

4

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

5

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

6

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

7

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

8

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

9

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

10

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

11

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

12

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

13

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

14

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

15

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

16

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

17

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

18

/opt/conda/lib/python3.9/site-packages/tensorflow/python/data/ops/structured_function.py:264: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

         session_id  item_id  rank
0               126    25806     1
1               126    14343     2
2               126    25154     3
3               126    14130     4
4               126    21495     5
...             ...      ...   ...
4999995   186479748     5454    96
4999996   186479748    12584    97
4999997   186479748    24774    98
4999998   186479748    25920    99
4999999   186479748    16117   100

[5000000 rows x 3 columns]

In [45]:
candidate_rank_df

         session_id  item_id  rank
0               126    25806     1
1               126    14343     2
2               126    25154     3
3               126    14130     4
4               126    21495     5
...             ...      ...   ...
4999995   186479748     5454    96
4999996   186479748    12584    97
4999997   186479748    24774    98
4999998   186479748    25920    99
4999999   186479748    16117   100

[5000000 rows x 3 columns]

Finally, we write the result to a csv file.

In [46]:
candidate_rank_df.to_csv("results_lstm_word2vec.csv", index=False)

## Final checks

Number of predicted sessions.

In [47]:
len(candidate_rank_df.session_id.unique())

50000

Number of recommendations of non-candidate items. Should be 0.

In [48]:
(~candidate_rank_df.item_id.isin(candidate_items)).sum()

0

Number of sessions to predict.

In [49]:
len(test_df.session_id.unique())

50000

List of items ranked first at least once.

In [50]:
candidate_rank_df[candidate_rank_df["rank"] == 1].item_id.unique()

array([25806, 20842,   772, 19058, 27714, 14343, 14130,  1351, 18724,
       13638,  4113, 12942, 11282,  5454, 10980, 19757, 21495,  1068,
       21951, 13535,  4564, 22774, 15931, 25154, 27579, 11015, 19150,
       27713,  8718, 26985,   485,  5806, 23462, 18134, 25074,  4250,
        8765, 18847,  6456, 12584, 18814, 19057, 16413,  3561, 12742,
        1426, 21900, 12993,  9394, 20165,  2749, 11759, 15533, 27588,
       12922, 12058, 23138, 27638, 26442,  3237, 13292,  9518, 23745,
       18698,  6196, 11802, 18065, 10931, 19579, 19263, 18108,  6534,
       19960, 19245,  2477, 13642, 19690,  8806, 26281,  3771, 14455,
         222, 25127, 21197,  2703, 21956, 22726, 27605,  9196,  3857,
        1756, 10212,  1481, 11290, 23733,  8882, 19990, 19533, 15700,
       25398, 14648, 16796, 16354, 18732,  8815, 17542, 15626, 23457,
        8059, 16922, 20869,  3704, 11894,  9487, 17455, 13217, 26513,
       13709, 10557, 14635,  6056,  4354,  9634, 23104, 23253, 19765,
       26902,  7551,  4867,    19,  8192, 19294, 24370,  6071, 18392,
       17382, 16232,  2646, 12540, 14667, 10724, 27664,  5044, 10165,
        2354, 26736,  1276,  7244, 27956, 12317, 21272, 11374, 23166,
       24197, 26278, 20752, 15569, 15000, 11742, 27800, 12311, 11923,
         702,  3683,  1112, 19544, 20001,  6224, 19024, 23428, 18451,
       23740,  8914, 16361, 18859,   281, 20316, 17789, 17923, 12963,
       12190, 16064, 21449, 22291, 28070, 23012, 19276, 25933, 19503,
       21408, 25920,  3849, 19525, 26882,   579,  4051, 10441, 26511,
       27265, 14894,  6358, 17503, 17574,  8829, 12045,  2294, 25956,
       19032, 17756, 23719,   419, 12358, 23993, 15458, 21434, 18415,
        1011, 22056,   425, 12379, 21225,  1102, 17094,  3582,  6611,
        1917, 22748, 28000, 24665,  1750, 16671, 10851, 15870, 17680,
       16009, 20152, 13273,  3086,   620,  5451, 18235, 19895, 13529,
        7950, 12547,  8109,  4507, 20913, 22011, 12419,  8781, 13527,
       17935, 11251, 27747, 25692, 21856, 26298,  4598, 27738, 10130,
       11028, 16441, 14208, 17284,  9603, 15913,  5995,  7408,  8878,
        4230,  1213])