In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
base_path_train = "~/shared/data/project/test"


test_df = pd.read_csv(os.path.join(base_path_train, "test_sessions.csv"))

In [3]:
test_df

        session_id  item_id                     date
0              126     9655  2020-12-18 21:25:00.373
1              126     9655  2020-12-18 21:19:48.093
2             3234    13214  2020-09-20 20:10:42.039
3             3234    13214  2020-09-20 20:11:53.966
4             3234     3173  2020-09-20 20:06:13.217
...            ...      ...                      ...
197619   186456690    10471  2021-05-02 17:41:18.737
197620   186456690    13385   2021-05-02 17:43:41.78
197621   186456690    10471  2021-05-02 17:40:10.625
197622   186456690     5382  2021-05-02 17:40:50.001
197623   186479748    25357  2020-11-27 20:08:37.262

[197624 rows x 3 columns]

In [6]:
len(test_df.session_id.unique())

50000