# Preparation

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
base_path_train = "/home/julian/Desktop/data_science/ss22/recsys/project/dressipi_recsys2022"


items_df = pd.read_csv(os.path.join(base_path_train, "item_features.csv"))
purchase_df = pd.read_csv(os.path.join(base_path_train, "train_purchases.csv"))
session_df = pd.read_csv(os.path.join(base_path_train, "train_sessions.csv"))

In [3]:
items_df

        item_id  feature_category_id  feature_value_id
0             2                   56               365
1             2                   62               801
2             2                   68               351
3             2                   33               802
4             2                   72                75
...         ...                  ...               ...
471746    28143                   68               351
471747    28143                   55               390
471748    28143                   11               109
471749    28143                   73                91
471750    28143                   47               549

[471751 rows x 3 columns]

In [4]:
items_df.item_id.nunique()

23691

In [5]:
purchase_df

        session_id  item_id                     date
0                3    15085  2020-12-18 21:26:47.986
1               13    18626  2020-03-13 19:36:15.507
2               18    24911  2020-08-26 19:20:32.049
3               19    12534   2020-11-02 17:16:45.92
4               24    13226  2020-02-26 18:27:44.114
...            ...      ...                      ...
999995     4439986     2915  2021-05-13 11:56:37.464
999996     4439990     8786  2020-08-22 14:28:22.382
999997     4439994    21630  2020-11-27 20:10:28.961
999998     4439999    16962  2020-11-27 11:01:41.356
999999     4440001    16631  2020-10-30 23:46:05.218

[1000000 rows x 3 columns]

In [6]:
session_df

         session_id  item_id                     date
0                 3     9655  2020-12-18 21:25:00.373
1                 3     9655  2020-12-18 21:19:48.093
2                13    15654  2020-03-13 19:35:27.136
3                18    18316  2020-08-26 19:18:30.833
4                18     2507  2020-08-26 19:16:31.211
...             ...      ...                      ...
4743815     4440001    20409  2020-10-30 23:37:20.658
4743816     4440001    14155  2020-10-30 23:31:56.607
4743817     4440001    14303  2020-10-30 23:36:17.934
4743818     4440001    27852  2020-10-30 23:39:55.186
4743819     4440001      305  2020-10-30 23:27:37.873

[4743820 rows x 3 columns]

In [7]:
purchase_df_processed = purchase_df.copy()
purchase_df_processed["was_bought"] = True

session_df_processed = session_df.copy()
session_df_processed["was_bought"] = False
df_processed = pd.concat([purchase_df_processed, session_df_processed]).sort_values(["session_id", "date"])
df_processed

         session_id  item_id                     date  was_bought
1                 3     9655  2020-12-18 21:19:48.093       False
0                 3     9655  2020-12-18 21:25:00.373       False
0                 3    15085  2020-12-18 21:26:47.986        True
2                13    15654  2020-03-13 19:35:27.136       False
1                13    18626  2020-03-13 19:36:15.507        True
...             ...      ...                      ...         ...
4743804     4440001    19539   2020-10-30 23:37:09.46       False
4743815     4440001    20409  2020-10-30 23:37:20.658       False
4743818     4440001    27852  2020-10-30 23:39:55.186       False
4743806     4440001    20449  2020-10-30 23:40:28.149       False
999999      4440001    16631  2020-10-30 23:46:05.218        True

[5743820 rows x 4 columns]

In [8]:
items_processed_df = items_df.pivot_table(values='feature_value_id', index='item_id', columns='feature_category_id').reset_index()
items_processed_df.index.names = ['index']
items_processed_df.columns = ["item_id"] + [f"item_feature_{x}" for x in list(range(73))]
items_processed_df

,item_id,item_feature_0,item_feature_1,item_feature_2,item_feature_3,item_feature_4,item_feature_5,item_feature_6,item_feature_7,item_feature_8,...,item_feature_63,item_feature_64,item_feature_65,item_feature_66,item_feature_67,item_feature_68,item_feature_69,item_feature_70,item_feature_71,item_feature_72
index,,,,,,,,,,,,,,,,,,,,,
0,2,NaN,NaN,NaN,NaN,NaN,NaN,394.0,NaN,NaN,...,NaN,NaN,NaN,NaN,351.0,885.0,NaN,NaN,75.0,NaN
1,3,NaN,NaN,889.0,618.0,605.0,NaN,452.0,NaN,NaN,...,NaN,521.0,NaN,NaN,14.0,592.0,NaN,NaN,75.0,544.0
2,4,NaN,NaN,793.0,618.0,605.0,NaN,837.0,NaN,NaN,...,NaN,521.0,NaN,NaN,373.0,538.0,NaN,NaN,75.0,544.0
3,7,NaN,NaN,NaN,NaN,NaN,NaN,536.0,NaN,NaN,...,NaN,NaN,NaN,NaN,739.0,592.0,NaN,NaN,75.0,NaN
4,8,NaN,NaN,793.0,618.0,605.0,NaN,798.0,NaN,NaN,...,NaN,521.0,NaN,NaN,351.0,592.0,NaN,NaN,75.0,544.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23686,28139,NaN,NaN,793.0,618.0,605.0,NaN,798.0,NaN,NaN,...,NaN,521.0,NaN,NaN,106.0,805.0,NaN,NaN,75.0,544.0
23687,28140,NaN,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.0,NaN,NaN,349.0,351.0,NaN,NaN,226.0,NaN,544.0
23688,28141,461.0,NaN,889.0,719.0,605.0,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,379.0,499.0,NaN,NaN,75.0,544.0
23689,28142,NaN,NaN,NaN,NaN,NaN,NaN,619.0,NaN,NaN,...,NaN,610.0,NaN,NaN,895.0,740.0,NaN,NaN,75.0,91.0
23690,28143,NaN,NaN,NaN,NaN,NaN,NaN,798.0,NaN,NaN,...,NaN,NaN,NaN,NaN,351.0,499.0,NaN,NaN,371.0,91.0

In [9]:
df_processed = df_processed.merge(items_processed_df, how="left", on="item_id")
df_processed["was_bought"] = df_processed["was_bought"].astype(float)
df_processed

,session_id,item_id,date,was_bought,item_feature_0,item_feature_1,item_feature_2,item_feature_3,item_feature_4,item_feature_5,...,item_feature_63,item_feature_64,item_feature_65,item_feature_66,item_feature_67,item_feature_68,item_feature_69,item_feature_70,item_feature_71,item_feature_72
0,3,9655,2020-12-18 21:19:48.093,0.0,NaN,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,349.0,393.0,NaN,NaN,NaN,NaN,544.0
1,3,9655,2020-12-18 21:25:00.373,0.0,NaN,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,349.0,393.0,NaN,NaN,NaN,NaN,544.0
2,3,15085,2020-12-18 21:26:47.986,1.0,NaN,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,349.0,97.0,NaN,NaN,NaN,NaN,544.0
3,13,15654,2020-03-13 19:35:27.136,0.0,NaN,NaN,NaN,618.0,NaN,766.0,...,NaN,521.0,NaN,NaN,351.0,780.0,NaN,NaN,219.0,NaN
4,13,18626,2020-03-13 19:36:15.507,1.0,NaN,NaN,793.0,618.0,605.0,NaN,...,NaN,NaN,NaN,NaN,739.0,805.0,NaN,NaN,75.0,544.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5743815,4440001,19539,2020-10-30 23:37:09.46,0.0,NaN,NaN,NaN,618.0,NaN,NaN,...,NaN,NaN,NaN,NaN,351.0,885.0,NaN,NaN,75.0,544.0
5743816,4440001,20409,2020-10-30 23:37:20.658,0.0,NaN,NaN,NaN,618.0,NaN,NaN,...,NaN,NaN,NaN,NaN,351.0,885.0,NaN,NaN,75.0,544.0
5743817,4440001,27852,2020-10-30 23:39:55.186,0.0,NaN,NaN,NaN,618.0,NaN,778.0,...,NaN,550.0,NaN,NaN,351.0,362.0,NaN,NaN,75.0,544.0
5743818,4440001,20449,2020-10-30 23:40:28.149,0.0,NaN,NaN,NaN,618.0,NaN,778.0,...,NaN,550.0,NaN,NaN,351.0,362.0,NaN,NaN,75.0,544.0
5743819,4440001,16631,2020-10-30 23:46:05.218,1.0,NaN,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,776.0,349.0,596.0,NaN,NaN,NaN,NaN,544.0

In [10]:
items_processed_df = items_processed_df.fillna(0)
items_processed_df

,item_id,item_feature_0,item_feature_1,item_feature_2,item_feature_3,item_feature_4,item_feature_5,item_feature_6,item_feature_7,item_feature_8,...,item_feature_63,item_feature_64,item_feature_65,item_feature_66,item_feature_67,item_feature_68,item_feature_69,item_feature_70,item_feature_71,item_feature_72
index,,,,,,,,,,,,,,,,,,,,,
0,2,0.0,0.0,0.0,0.0,0.0,0.0,394.0,0.0,0.0,...,0.0,0.0,0.0,0.0,351.0,885.0,0.0,0.0,75.0,0.0
1,3,0.0,0.0,889.0,618.0,605.0,0.0,452.0,0.0,0.0,...,0.0,521.0,0.0,0.0,14.0,592.0,0.0,0.0,75.0,544.0
2,4,0.0,0.0,793.0,618.0,605.0,0.0,837.0,0.0,0.0,...,0.0,521.0,0.0,0.0,373.0,538.0,0.0,0.0,75.0,544.0
3,7,0.0,0.0,0.0,0.0,0.0,0.0,536.0,0.0,0.0,...,0.0,0.0,0.0,0.0,739.0,592.0,0.0,0.0,75.0,0.0
4,8,0.0,0.0,793.0,618.0,605.0,0.0,798.0,0.0,0.0,...,0.0,521.0,0.0,0.0,351.0,592.0,0.0,0.0,75.0,544.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23686,28139,0.0,0.0,793.0,618.0,605.0,0.0,798.0,0.0,0.0,...,0.0,521.0,0.0,0.0,106.0,805.0,0.0,0.0,75.0,544.0
23687,28140,0.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,80.0,0.0,0.0,349.0,351.0,0.0,0.0,226.0,0.0,544.0
23688,28141,461.0,0.0,889.0,719.0,605.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,379.0,499.0,0.0,0.0,75.0,544.0
23689,28142,0.0,0.0,0.0,0.0,0.0,0.0,619.0,0.0,0.0,...,0.0,610.0,0.0,0.0,895.0,740.0,0.0,0.0,75.0,91.0
23690,28143,0.0,0.0,0.0,0.0,0.0,0.0,798.0,0.0,0.0,...,0.0,0.0,0.0,0.0,351.0,499.0,0.0,0.0,371.0,91.0

In [11]:
item_id2index = dict(zip(items_processed_df.item_id, items_processed_df.index))

In [12]:
all_items = list(items_processed_df["item_id"])

In [13]:
items_processed_array = np.array(items_processed_df.drop("item_id",axis=1))
items_processed_array[item_id2index[2]]

array([  0.,   0.,   0.,   0.,   0.,   0., 394.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,  38.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0., 123.,   0.,   0.,   0., 802.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0., 123.,   0.,   0.,  76.,   0.,   0.,   6.,   0.,   0.,
       365.,   0.,   0.,   0.,   0., 462., 801.,   0.,   0.,   0.,   0.,
         0., 351., 885.,   0.,   0.,  75.,   0.])

In [16]:
items_processed_array[item_id2index[2]].shape

(73,)

In [14]:
candidate_items = list(pd.read_csv("candidate_items.csv")["item_id"])
candidate_items[:10]

[4, 8, 9, 19, 20, 26, 33, 40, 51, 54]

## Recommender using item-item CF

In [25]:
def item_dist(item_id1, item_id2):
    item1_row = items_processed_array[item_id2index[item_id1]]
    item2_row = items_processed_array[item_id2index[item_id2]]
    
    diff = item1_row - item2_row
    dist = np.sum(diff != 0)
    return dist

In [26]:
item_dist(3,4)

(73,)

12

In [24]:
(items_processed_array[item_id2index[3]] != items_processed_array[item_id2index[4]]).sum()

12

In [22]:
items_processed_array[item_id2index[4]]

array([  0.,   0., 793., 618., 605.,   0., 837.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0., 378., 289., 148.,   0.,   0., 881.,
         0.,   0.,   0., 268.,   0.,   0.,   0.,   0.,   0., 902.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
       559., 825., 218.,   0.,   0., 317.,   0.,   0.,   0.,   0., 267.,
       365.,   0.,   0., 180.,   0., 462.,   0., 861.,   0., 521.,   0.,
         0., 373., 538.,   0.,   0.,  75., 544.])

In [ ]:
def precompute_distances():
    item_dist_dict = {}
    for candidate_item in candidate_items:
        for item in all_items:
            item_dist_dict[(item, candidate_item)] = item_dist(item, candidate_item)
    return item_dist_dict

item_dist_dict = precompute_distances()

In [ ]:
def compute_session_prediction(session_id):
    session_df_trial = session_df[session_df.session_id==session_id]
    items_in_session = list(session_df_trial["item_id"])
    items_in_session
    candidate_rank_dict = {}
    for candidate_item in candidate_items:
        distance = 0
        for item_in_session in items_in_session:
            distance += item_dist_dict[(item_in_session, candidate_item)]
        candidate_rank_dict[candidate_item] = distance

    candidate_rank_df = pd.DataFrame(candidate_rank_dict.items(), columns = ["item_id", "score"])
    candidate_rank_df = candidate_rank_df.sort_values("score", ascending=True).head(100).reset_index(drop=True)
    candidate_rank_df["rank"] = candidate_rank_df.index + 1
    return candidate_rank_df

In [ ]:
candidate_rank_df = compute_session_prediction(19)
candidate_rank_df

In [ ]:
recommended_items_cb = list(candidate_rank_df["item_id"])

# Reading in test data

In [27]:
import pandas as pd
import os
import numpy as np

base_path_test = "/home/julian/Desktop/data_science/ss22/recsys/project/dressipi_recsys2022"


test_df = pd.read_csv(os.path.join(base_path_test, "test_leaderboard_sessions.csv"))

test_df

        session_id  item_id                     date
0               26    19185  2021-06-16 09:53:54.158
1              200    17089  2021-06-25 12:23:40.811
2              200    17089  2021-06-25 12:24:36.631
3              200     8060  2021-06-25 12:24:41.677
4              200     4758  2021-06-25 12:24:50.692
...            ...      ...                      ...
229349     4439653    25955   2021-06-11 10:22:57.47
229350     4439653    12179  2021-06-11 10:23:00.663
229351     4439757     2078  2021-06-30 11:42:15.073
229352     4439757     2078  2021-06-30 11:43:13.725
229353     4439757     6790  2021-06-30 11:44:52.704

[229354 rows x 3 columns]

In [29]:
test_df[test_df.session_id==200]

   session_id  item_id                     date
1         200    17089  2021-06-25 12:23:40.811
2         200    17089  2021-06-25 12:24:36.631
3         200     8060  2021-06-25 12:24:41.677
4         200     4758  2021-06-25 12:24:50.692

In [ ]:
def compute_session_prediction_test(session_id):
    session_df_trial = test_df[test_df.session_id==session_id]
    items_in_session = list(session_df_trial["item_id"])
    items_in_session
    candidate_rank_dict = {}
    for candidate_item in candidate_items:
        distance = 0
        for item_in_session in items_in_session:
            distance += item_dist_dict[(item_in_session, candidate_item)]
        candidate_rank_dict[candidate_item] = distance

    candidate_rank_df = pd.DataFrame(candidate_rank_dict.items(), columns = ["item_id", "score"])
    candidate_rank_df = candidate_rank_df.sort_values("score", ascending=True).head(100).reset_index(drop=True)
    candidate_rank_df["rank"] = candidate_rank_df.index + 1
    candidate_rank_df["session_id"] = session_id
    candidate_rank_df = candidate_rank_df.drop("score", axis=1)
    
    return candidate_rank_df

In [ ]:
def predict_cb():
    session_ids = test_df.session_id.unique()
    
    out_df = compute_session_prediction_test(session_ids[0])
    for session_id in session_ids[1:]:
        candidate_rank_df = compute_session_prediction_test(session_id)
        out_df = pd.concat([out_df, candidate_rank_df])
    
    return out_df[["session_id", "item_id", "rank"]]

In [ ]:
from datetime import datetime

In [ ]:
print(datetime.now())
out_df = predict_cb()
print(datetime.now())
out_df

In [ ]:
out_df.to_csv("results_content_based.csv", index=False)